<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jonas.tool.saveForOffline" 
	android:hardwareAccelerated="true"
    android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Theme_main_yellow" >
		
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
			android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name=".AddActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
	
        </activity>
		<activity
            android:name=".ViewActivity"
           	android:parentActivityName=".MainActivity"
			android:configChanges="orientation|screenSize">
        </activity>

		<activity
            android:name=".Preferences"
			android:parentActivityName=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
				<category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
        </activity>
		
		<service android:name=".SaveService" />
		<service android:name=".ScreenshotService" />
		
    </application>

</manifest>
